<!-- @if (data.length) {
  <div class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
} -->
<main>
  <img
    src="images/main-image.webp"
    srcset="
      images/main-image-lg.webp 1200w,
      images/main-image.webp     900w,
      images/main-image-sm.webp  480w
    "
    alt="Explore the City"
    class="main-image"
  />
  <div class="page-content">
    <h2 class="text-center color-primary">Share your Moments</h2>
    <div id="shared-moments">
        <div class="posts-list">
          @for (post of data; track post.image) {
            <div class="post">
              <mat-card class="post-card">
                <mat-card-header>
                  <div class="profile">
                    <img src="images/sf-golden-bridge.webp" alt="Profile Pic" />
                    <div>
                      <div>{{userDetails.displayName}}</div>
                      <button class="follow-btn">Follow</button>
                    </div>
                  </div>
                </mat-card-header>
                <mat-card-content class="text-center">
                  <img
                    class="post-image"
                    #postImage
                    [src]="post.image"
                    (error)="onImageError()"
                    alt="Post Pic"
                  />
                  <mat-card-title> {{ post.title }} </mat-card-title>
                </mat-card-content>
                <mat-card-footer>
                  <div class="details">
                    <div>❤️ 120 Likes</div>
                    <div>💬 45 Comments</div>
                    <!-- September 25, 2024 -->
                    <div>📅 {{ post.date | date }}</div>
                  </div>
                </mat-card-footer>
                <mat-card-actions>
                  <div class="actions">
                    <button class="action-btn">Like</button>
                    <button class="action-btn">Comment</button>
                    <button class="action-btn">Share</button>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          } @empty {
            <div class="container">
              <div class="emoji">😢</div>
              <h1 class="no-post-title">No Posts Yet</h1>
              <p class="no-post-desc">It looks like you haven't shared anything yet. Start posting to show your memories!</p>
            </div>
          }
        </div>
    </div>
  </div>
  <div class="floating-button">
    <button
      mat-fab
      color="accent"
      id="share-image-button"
      (click)="addNewPost()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</main>
