<mat-toolbar color="primary" class="header">
  @if (isMobile | async) {
    <button
        mat-icon-button
        class="sidenav-toggle"
        aria-label="icon-button with menu icon"
        (click)="toggleSideNav()"
    >
        <mat-icon>menu</mat-icon>
    </button>
  }
  <span>PWAGram</span>
  <span class="spacer"></span>
  @if (!isMobile) {
    <button mat-button [routerLink]="['/posts']">Posts</button>
    <button mat-button [routerLink]="['/help']">Help</button>
    <button mat-raised-button color="warn" (click)="logout()" class="enable-notifications">
        Logout
    </button>
  }
</mat-toolbar>
