<main>
    <div>
        <div class="text-center">
            <h3>Need Help?</h3>
            <p>Learn how to use this app and share your amazing memories with all your friends!</p>
        </div>
    </div>
    <div>
        <div class="text-center">
            <h3>Contact Us!</h3>
            <div class="button-group">
                <button mat-fab>
                    <mat-icon>call</mat-icon>
                </button>
                <button mat-fab>
                    <mat-icon>email</mat-icon>
                </button>
                <button mat-fab>
                    <mat-icon>chat_bubble</mat-icon>
                </button>
            </div>
        </div>
    </div>
</main>