<div style="max-width: 320px;">
  <h2>Create Post!</h2>
  <form [formGroup]="postForm">
    <div id="capture-image">
      <video #video id="player" autoplay width="320px"></video>
      <canvas #canvas id="canvas"></canvas>
      <button id="capture-button" mat-raised-button color="accent" (click)="captureImage()">
        Capture
      </button>
      @if (!imageData) {
        <button mat-raised-button id="flip-camera" color="primary" (click)="flipCamera()">Flip camera</button>
      }
      @if (imageData) {
        <button mat-raised-button id="recapture-button" color="primary" (click)="reCapture()">Capture Again</button>
      }
    </div>
    <div id="pick-image">
      <h4>Pick an image instead</h4>
      @if(imageURL) {
          <img [src]="imageURL" class="create-post-image" />
      }
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/*">
    </div>
    <div>
      <mat-form-field>
        <mat-label>Captions</mat-label>
        <input matInput formControlName="title" type="text" />
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" type="text" />
      </mat-form-field> -->
    </div>
    <!-- <div style="display: flex">
      <button mat-button id="location-button" (click)="getLocation()">Get Location</button>
      <mat-spinner [diameter]="30" id="location-loader"></mat-spinner>
    </div> -->
    <!-- Implement geolocation in later development -->
    <button mat-button color="accent" cdkFocusInitial (click)="onNoClick()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="createPost()"
      [disabled]="postForm.invalid"
    >
      Create
    </button>
  </form>
</div>
